<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="/static/stylesheets/artists.css">

</head>

<body>
    <header>
        <nav>
            <a class="nav" href="/">Home</a>
            <a class="nav" href="/locations">Locations</a>
        </nav>

    </header>

    <div class="name">
        <h1>{{ .Name }}</h1>
    </div>
    <div class="image">
        <img src="{{ .Image }}" />
    </div>

    <div class="grid-container">
        <div class="members">
            <p class="membersTitle">Members:</p>
            {{ range $I := .Members }}
            <p>{{ $I }}</p>
            {{ end }}
            <p class="creationDate">Formed in {{ .CreationDate }}</p>
            <p class="firstAlbum">First album released on {{ .FirstAlbum }}</p>
        </div>

        <div class="locationDates">
            {{ range $L, $D := .Relations }}
            <p class="locationRange">{{ $L }}</p>
            {{ range $X := $D }}
            <p>{{ $X }}</p>
            {{ end }} {{ end }}
        </div>
    </div>

</body>

</html>