<html>

<head>
    <meta charset="UTF-8" />
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/stylesheets/index.css">
</head>

<body>
    <header>
        <h1>Groupie Tracker</h1>
    </header>
    <div class="Artists">
        {{ range . }}
        <a href="/artists?id={{ .Id }}">
            <div class="image">
                <img src="{{ .Image }}" />
                <div class="name">
                    <p>{{ .Name }}</p>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</body>

</html>